In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
toddlers_df = pd.read_csv('Study on toddlers.csv')

In [3]:
toddlers_df.head()

,Unnamed: 0,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,...,Age_Mons,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,1,2,1,1,0,0,0,1,1,0,...,36,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,2,3,1,0,0,0,0,0,1,1,...,36,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,3,4,1,1,1,1,1,1,1,1,...,24,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,4,5,1,1,0,1,1,1,1,1,...,20,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,5,6,1,1,0,0,1,1,1,1,...,21,8,m,black,no,no,family member,Yes,yes,Toddlers

In [4]:
adults_df = pd.read_csv('Study on adults.csv')

In [5]:
adults_df.head()

,Unnamed: 0,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,1,1,1,1,0,0,1,1,0,0,f,White-European,no,no,Self,NO,6,yes,Adults(Young)
1,1,1,1,0,1,0,0,0,1,0,1,m,Latino,no,yes,Self,NO,5,yes,Youth
2,2,1,1,0,1,1,0,1,1,1,1,m,Latino,yes,yes,Parent,YES,8,yes,Adults(Young)
3,3,1,1,0,1,0,0,1,1,0,1,f,White-European,no,yes,Self,NO,6,yes,Adults(Young)
4,5,1,1,1,1,1,0,1,1,1,1,m,Others,yes,no,Self,YES,9,yes,Adults(Mid)

In [6]:
adults_df['Class/ASD Traits'] = adults_df['Class/ASD Traits'].str.lower()

In [7]:
adults_df.head()

,Unnamed: 0,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,1,1,1,1,0,0,1,1,0,0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,1,1,1,0,1,0,0,0,1,0,1,m,Latino,no,yes,Self,no,5,yes,Youth
2,2,1,1,0,1,1,0,1,1,1,1,m,Latino,yes,yes,Parent,yes,8,yes,Adults(Young)
3,3,1,1,0,1,0,0,1,1,0,1,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,5,1,1,1,1,1,0,1,1,1,1,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)

In [8]:
adults_df['Who completed the test'].unique()

array(['Self', 'Parent', 'Health care professional', 'Relative', 'Others'],
      dtype=object)

In [9]:
toddlers_df['Who completed the test'].unique()

array(['family member', 'Health Care Professional', 'Others', 'Self',
       'Health care professional'], dtype=object)

In [11]:
toddlers_df['Who completed the test'] = toddlers_df['Who completed the test'].replace('Health Care Professional', 'Health care professional')

In [12]:
toddlers_df['Who completed the test'].unique()

array(['family member', 'Health care professional', 'Others', 'Self'],
      dtype=object)

In [13]:
adults_df['Who completed the test'] = adults_df['Who completed the test'].replace('Parent', 'family member')

In [14]:
adults_df['Who completed the test'] = adults_df['Who completed the test'].replace('Relative', 'family member')

In [15]:
adults_df['Who completed the test'].unique()

array(['Self', 'family member', 'Health care professional', 'Others'],
      dtype=object)