In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
toddlers1_df = pd.read_csv('Study on toddlers.csv')

In [5]:
toddlers1_df.head()

,Unnamed: 0,Case_No,A1,A2,A3,A4,A5,A6,A7,A8,...,Age_Mons,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,1,2,1,1,0,0,0,1,1,0,...,36,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,2,3,1,0,0,0,0,0,1,1,...,36,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,3,4,1,1,1,1,1,1,1,1,...,24,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,4,5,1,1,0,1,1,1,1,1,...,20,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,5,6,1,1,0,0,1,1,1,1,...,21,8,m,black,no,no,family member,Yes,yes,Toddlers

In [6]:
adults_df = pd.read_csv('Study on adults.csv')

In [7]:
adults_df.head()

,Unnamed: 0,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,1,1,1,1,0,0,1,1,0,0,f,White-European,no,no,Self,NO,6,yes,Adults(Young)
1,1,1,1,0,1,0,0,0,1,0,1,m,Latino,no,yes,Self,NO,5,yes,Youth
2,2,1,1,0,1,1,0,1,1,1,1,m,Latino,yes,yes,Parent,YES,8,yes,Adults(Young)
3,3,1,1,0,1,0,0,1,1,0,1,f,White-European,no,yes,Self,NO,6,yes,Adults(Young)
4,5,1,1,1,1,1,0,1,1,1,1,m,Others,yes,no,Self,YES,9,yes,Adults(Mid)

In [8]:
adults_df['Class/ASD Traits'] = adults_df['Class/ASD Traits'].str.lower()

In [10]:
adults_df.head()

,Unnamed: 0,A1_Score,A2_Score,A3_Score,A4_Score,A5_Score,A6_Score,A7_Score,A8_Score,A9_Score,A10_Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,1,1,1,1,0,0,1,1,0,0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,1,1,1,0,1,0,0,0,1,0,1,m,Latino,no,yes,Self,no,5,yes,Youth
2,2,1,1,0,1,1,0,1,1,1,1,m,Latino,yes,yes,Parent,yes,8,yes,Adults(Young)
3,3,1,1,0,1,0,0,1,1,0,1,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,5,1,1,1,1,1,0,1,1,1,1,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)

In [11]:
adults_df['Who completed the test'].unique()

array(['Self', 'Parent', 'Health care professional', 'Relative', 'Others'],
      dtype=object)

In [12]:
toddlers1_df['Who completed the test'].unique()

array(['family member', 'Health Care Professional', 'Others', 'Self',
       'Health care professional'], dtype=object)

In [13]:
toddlers1_df['Who completed the test'] = toddlers1_df['Who completed the test'].replace('Health Care Professional', 'Health care professional')

In [14]:
toddlers1_df['Who completed the test'].unique()

array(['family member', 'Health care professional', 'Others', 'Self'],
      dtype=object)

In [15]:
adults_df['Who completed the test'] = adults_df['Who completed the test'].replace('Parent', 'family member')

In [16]:
adults_df['Who completed the test'] = adults_df['Who completed the test'].replace('Relative', 'family member')

In [17]:
adults_df['Who completed the test'].unique()

array(['Self', 'family member', 'Health care professional', 'Others'],
      dtype=object)

In [18]:
adults_df['Family_mem_with_ASD'].unique()

array(['no', 'yes'], dtype=object)

In [19]:
toddlers1_df['Family_mem_with_ASD'].unique()

array(['no', 'yes'], dtype=object)

In [20]:
adults_df.drop(adults_df.iloc[:,1:11], inplace=True, axis=1)

In [21]:
adults_df

,Unnamed: 0,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,1,m,Latino,no,yes,Self,no,5,yes,Youth
2,2,m,Latino,yes,yes,family member,yes,8,yes,Adults(Young)
3,3,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,5,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)
...,...,...,...,...,...,...,...,...,...,...
468,697,f,Pasifika,no,no,Self,yes,10,yes,Adults(Young)
469,698,f,White-European,no,no,Self,yes,7,yes,Youth
470,700,f,Others,no,no,Self,yes,7,yes,Youth
471,701,m,South Asian,no,no,Self,no,6,yes,Adults(Young)
472,702,f,White-European,no,no,Self,yes,8,yes,Adults(Young)

In [22]:
toddlers1_df.drop(toddlers1_df.iloc[:,1:12], inplace=True, axis=1)

In [23]:

toddlers1_df

,Unnamed: 0,Age_Mons,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,Class/ASD Traits
0,1,36,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no
1,2,36,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no
2,3,24,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes
3,4,20,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no
4,5,21,8,m,black,no,no,family member,Yes,yes,Toddlers,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
723,1046,24,7,f,middle eastern,no,no,family member,Yes,yes,Toddlers,NaN
724,1047,30,5,f,White European,no,no,family member,Yes,yes,Toddlers,NaN
725,1050,12,5,m,black,yes,no,family member,Yes,yes,Toddlers,NaN
726,1051,18,9,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,NaN
727,1053,24,6,m,asian,yes,yes,family member,Yes,yes,Toddlers,NaN

In [24]:
toddlers1_df.drop('Age_Mons', axis = 1, inplace=True)

In [25]:
toddlers1_df

,Unnamed: 0,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,Class/ASD Traits
0,1,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no
1,2,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no
2,3,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes
3,4,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no
4,5,8,m,black,no,no,family member,Yes,yes,Toddlers,yes
...,...,...,...,...,...,...,...,...,...,...,...
723,1046,7,f,middle eastern,no,no,family member,Yes,yes,Toddlers,NaN
724,1047,5,f,White European,no,no,family member,Yes,yes,Toddlers,NaN
725,1050,5,m,black,yes,no,family member,Yes,yes,Toddlers,NaN
726,1051,9,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,NaN
727,1053,6,m,asian,yes,yes,family member,Yes,yes,Toddlers,NaN

In [26]:
toddlers1_df.drop('Unnamed: 0', axis = 1, inplace=True)

In [27]:
adults_df.drop('Unnamed: 0', axis = 1, inplace=True)

In [28]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,Class/ASD Traits
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no
4,8,m,black,no,no,family member,Yes,yes,Toddlers,yes

In [29]:
toddlers1_df.rename(columns={'Class/ASD Traits':'ASD_traits'},inplace = True)

In [30]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,ASD_traits
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no
4,8,m,black,no,no,family member,Yes,yes,Toddlers,yes

In [31]:
adults_df.head()

,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,f,White-European,no,no,Self,no,6,yes,Adults(Young)
1,m,Latino,no,yes,Self,no,5,yes,Youth
2,m,Latino,yes,yes,family member,yes,8,yes,Adults(Young)
3,f,White-European,no,yes,Self,no,6,yes,Adults(Young)
4,m,Others,yes,no,Self,yes,9,yes,Adults(Mid)

In [32]:
toddlers1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          728 non-null    int64
 1   Gender                  728 non-null    object
 2   Ethnicity               728 non-null    object
 3   Jaundice                728 non-null    object
 4   Family_mem_with_ASD     728 non-null    object
 5   Who completed the test  728 non-null    object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           728 non-null    object
 8   age-group               728 non-null    object
 9   ASD_traits              473 non-null    object
dtypes: int64(1), object(9)
memory usage: 57.0+ KB

In [33]:
adults_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  473 non-null    object
 1   Ethnicity               473 non-null    object
 2   Jaundice                473 non-null    object
 3   Family_mem_with_ASD     473 non-null    object
 4   Who completed the test  473 non-null    object
 5   Class/ASD Traits        473 non-null    object
 6   Qchat-10-Score          473 non-null    int64
 7   Probable_case           473 non-null    object
 8   age-group               473 non-null    object
dtypes: int64(1), object(8)
memory usage: 33.4+ KB

In [34]:
frames = [toddlers1_df, adults_df]
df2 = pd.concat(frames)

In [35]:
df2.reset_index(drop=True, inplace=True)

In [36]:
df2

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,ASD_traits,Class/ASD Traits
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no,NaN
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no,NaN
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes,NaN
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no,NaN
4,8,m,black,no,no,family member,Yes,yes,Toddlers,yes,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1196,10,f,Pasifika,no,no,Self,NaN,yes,Adults(Young),NaN,yes
1197,7,f,White-European,no,no,Self,NaN,yes,Youth,NaN,yes
1198,7,f,Others,no,no,Self,NaN,yes,Youth,NaN,yes
1199,6,m,South Asian,no,no,Self,NaN,yes,Adults(Young),NaN,no
1200,8,f,White-European,no,no,Self,NaN,yes,Adults(Young),NaN,yes

In [37]:
toddlers1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          728 non-null    int64
 1   Gender                  728 non-null    object
 2   Ethnicity               728 non-null    object
 3   Jaundice                728 non-null    object
 4   Family_mem_with_ASD     728 non-null    object
 5   Who completed the test  728 non-null    object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           728 non-null    object
 8   age-group               728 non-null    object
 9   ASD_traits              473 non-null    object
dtypes: int64(1), object(9)
memory usage: 57.0+ KB

In [38]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          1201 non-null   int64
 1   Gender                  1201 non-null   object
 2   Ethnicity               1201 non-null   object
 3   Jaundice                1201 non-null   object
 4   Family_mem_with_ASD     1201 non-null   object
 5   Who completed the test  1201 non-null   object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           1201 non-null   object
 8   age-group               1201 non-null   object
 9   ASD_traits              473 non-null    object
 10  Class/ASD Traits        473 non-null    object
dtypes: int64(1), object(10)
memory usage: 103.3+ KB

In [39]:
df2.drop('ASD_traits', axis = 1, inplace=True)

In [40]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          1201 non-null   int64
 1   Gender                  1201 non-null   object
 2   Ethnicity               1201 non-null   object
 3   Jaundice                1201 non-null   object
 4   Family_mem_with_ASD     1201 non-null   object
 5   Who completed the test  1201 non-null   object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           1201 non-null   object
 8   age-group               1201 non-null   object
 9   Class/ASD Traits        473 non-null    object
dtypes: int64(1), object(9)
memory usage: 94.0+ KB

In [42]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group,ASD_traits,Class/ASD Traits
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers,no,no
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers,no,no
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers,yes,yes
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers,no,no
4,8,m,black,no,no,family member,Yes,yes,Toddlers,yes,yes

In [43]:
toddlers1_df.drop('ASD_traits', axis =1,inplace = True)

In [44]:
toddlers1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          728 non-null    int64
 1   Gender                  728 non-null    object
 2   Ethnicity               728 non-null    object
 3   Jaundice                728 non-null    object
 4   Family_mem_with_ASD     728 non-null    object
 5   Who completed the test  728 non-null    object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           728 non-null    object
 8   age-group               728 non-null    object
 9   Class/ASD Traits        473 non-null    object
dtypes: int64(1), object(9)
memory usage: 57.0+ KB

In [45]:
toddlers1_df.drop('Class/ASD Traits',axis = 1,inplace= True)

In [46]:
toddlers1_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 728 entries, 0 to 727
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          728 non-null    int64
 1   Gender                  728 non-null    object
 2   Ethnicity               728 non-null    object
 3   Jaundice                728 non-null    object
 4   Family_mem_with_ASD     728 non-null    object
 5   Who completed the test  728 non-null    object
 6   Class/ASD Traits        728 non-null    object
 7   Probable_case           728 non-null    object
 8   age-group               728 non-null    object
dtypes: int64(1), object(8)
memory usage: 51.3+ KB

In [47]:
adults_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  473 non-null    object
 1   Ethnicity               473 non-null    object
 2   Jaundice                473 non-null    object
 3   Family_mem_with_ASD     473 non-null    object
 4   Who completed the test  473 non-null    object
 5   Class/ASD Traits        473 non-null    object
 6   Qchat-10-Score          473 non-null    int64
 7   Probable_case           473 non-null    object
 8   age-group               473 non-null    object
dtypes: int64(1), object(8)
memory usage: 33.4+ KB

In [48]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Probable_case,age-group
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,8,m,black,no,no,family member,Yes,yes,Toddlers

In [65]:
toddlers1_df.rename(columns={toddlers1_df.columns[6]:'traits'},inplace = True)

In [66]:
toddlers1_df.head()

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,traits,Probable_case,age-group
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,8,m,black,no,no,family member,Yes,yes,Toddlers

In [54]:
adults_df['Class/ASD Traits'] = adults_df['Class/ASD Traits'].str.capitalize()

In [56]:
adults_df.head()

,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,Class/ASD Traits,Qchat-10-Score,Probable_case,age-group
0,f,White-European,no,no,Self,No,6,yes,Adults(Young)
1,m,Latino,no,yes,Self,No,5,yes,Youth
2,m,Latino,yes,yes,family member,Yes,8,yes,Adults(Young)
3,f,White-European,no,yes,Self,No,6,yes,Adults(Young)
4,m,Others,yes,no,Self,Yes,9,yes,Adults(Mid)

In [60]:
adults_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  473 non-null    object
 1   Ethnicity               473 non-null    object
 2   Jaundice                473 non-null    object
 3   Family_mem_with_ASD     473 non-null    object
 4   Who completed the test  473 non-null    object
 5   Class/ASD Traits        473 non-null    object
 6   Qchat-10-Score          473 non-null    int64
 7   Probable_case           473 non-null    object
 8   age-group               473 non-null    object
dtypes: int64(1), object(8)
memory usage: 33.4+ KB

In [67]:
adults_df.rename(columns={adults_df.columns[5]:'traits'},inplace = True)

In [68]:
adults_df.head()

,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,traits,Qchat-10-Score,Probable_case,age-group
0,f,White-European,no,no,Self,No,6,yes,Adults(Young)
1,m,Latino,no,yes,Self,No,5,yes,Youth
2,m,Latino,yes,yes,family member,Yes,8,yes,Adults(Young)
3,f,White-European,no,yes,Self,No,6,yes,Adults(Young)
4,m,Others,yes,no,Self,Yes,9,yes,Adults(Mid)

In [69]:
frames = [toddlers1_df, adults_df]
df4 = pd.concat(frames)

In [70]:
df4.reset_index(drop=True, inplace=True)

In [71]:
df4

,Qchat-10-Score,Gender,Ethnicity,Jaundice,Family_mem_with_ASD,Who completed the test,traits,Probable_case,age-group
0,4,m,White European,yes,no,family member,Yes,yes,Toddlers
1,4,m,middle eastern,yes,no,family member,Yes,yes,Toddlers
2,10,m,Hispanic,no,no,family member,Yes,yes,Toddlers
3,9,f,White European,no,yes,family member,Yes,yes,Toddlers
4,8,m,black,no,no,family member,Yes,yes,Toddlers
...,...,...,...,...,...,...,...,...,...
1196,10,f,Pasifika,no,no,Self,Yes,yes,Adults(Young)
1197,7,f,White-European,no,no,Self,Yes,yes,Youth
1198,7,f,Others,no,no,Self,Yes,yes,Youth
1199,6,m,South Asian,no,no,Self,No,yes,Adults(Young)
1200,8,f,White-European,no,no,Self,Yes,yes,Adults(Young)

In [72]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1201 entries, 0 to 1200
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Qchat-10-Score          1201 non-null   int64
 1   Gender                  1201 non-null   object
 2   Ethnicity               1201 non-null   object
 3   Jaundice                1201 non-null   object
 4   Family_mem_with_ASD     1201 non-null   object
 5   Who completed the test  1201 non-null   object
 6   traits                  1201 non-null   object
 7   Probable_case           1201 non-null   object
 8   age-group               1201 non-null   object
dtypes: int64(1), object(8)
memory usage: 84.6+ KB